body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.header {
    background-color: pink;
    /* font-weight: 600;
    font-size: 30px; */
    padding: 30px;
    text-align: center;
}

.section-1 {
    display: flex;
    line-height: 250px;
}


.content {
    background-color: rgb(192, 255, 220);
    /* font-weight: 600;
    font-size: 30px; */
    padding: 30px;
    text-align: center;
    width: 70%;
}

.aside {
    background-color: rgb(192, 206, 255);
    /* font-weight: 600;
    font-size: 30px; */
    padding: 30px;
    text-align: center;
    width: 30%;
}

.section-2 {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}


.box {
    background-color: rgb(215, 255, 192);
    /* font-weight: 600;
    font-size: 30px; */
    padding: 30px;
    text-align: center;
    height: 150px;
    width: calc(25% - 10px);
}

.footer {
    background-color: rgb(245, 7, 47);
    /* font-weight: 600;
    font-size: 30px; */
    padding: 30px;
    text-align: center;
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    .section-1 {
        flex-wrap: wrap;
    }
    .content {
        width: 100%;
    }
    .aside {
        width: 100%;
    }
    .section-2 {
        flex-wrap: wrap;
        margin-top: 0;
    }
    .box {
        width: calc(50% - 5px);
        margin-top: 10px;
    }
}

@media screen and (max-width: 480px) {
    .box {
        width: 100%;
        margin-top: 10px;
    }
}